<%- include('partials/header') %> 
<%- include('partials/navbar') %>

    <h1>Chat history</h1>
   
    <div id="parentdiv" style="height:510px ; overflow-x: hidden; overflow-y: auto;   display:flex ; flex-direction: column; align-items: center; border: 2px solid rgb(16, 16, 16); border-radius: 10px; margin: auto; width: 70%; padding-left: 10px; padding-right: 10px;">
    <% for(let msg of chatary) {%>
      <% if(msg.sender=="other") {%> 
        <div style=" width: 100%; " ><%= msg.msg %> 
        </div>
      <% }else{%>
      <div style="text-align: right; width: 100%; ;">
        <%=msg.msg%>
        </div>
      <%}%>
        <% } %>  
      </div>

        <form style="text-align:center ;" action="/<%= id %>/send/<%= fid %>?_method=patch " method="post" >
            <label for="msg">Enter message </label>
            <input style="width:50% ;" type="text" id="msg" name="msg" autofocus>
            <button type="submit">Send</button>
        </form>
  
    <script>
      var objDiv = document.getElementById("parentdiv");
objDiv.scrollTop = objDiv.scrollHeight;
// if(window.history.replaceState){
//   window.history.replaceState(null,null,window.location.href)
// }
    </script>
<%- include('partials/footer') %> 
</body>
</html>