<%- include('partials/header') %> 
</head>
<body>
<%- include('partials/navbar') %> 
    <h1>All Chats</h1>
    <div style=" display: flex; flex-direction: column;">
    <% for(let u of users) {%>
        <% if(u.id!=id && chatsid.includes(u.id)){ %>
            <div style="width:100% ;   display:flex ;  ">
                <img height="90px" width="90px" style=" object-fit: cover; border-radius: 50%;" src="/uploads/<%= u.img.src %> " > 
            <a style="text-decoration:none ;" href="/chats/<%= id %>/<%=u.id %> ">
           <div style="margin-left: 30px; ">
                <h3 > <%= u.username%> </h3>
                <% for(let c of chats){ %> 
                   <h4> <% if(c.id==u.id) {%>
                        <% if(c.chats[c.chats.length-1].sender=="own") {%>
                            You:
                            <% } else{%>
                                <%= u.username %>:
                                <% } %>  
                                <%= c.chats[c.chats.length-1].msg %>   
                        <% } %> 
                   </h4>
                    <% } %> 

             </a>
           </div>
    </div>
            <% } %>  
        <% } %>  
    </div>
<%- include('partials/footer') %> 
</body>
</html>